<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>

<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <!-- Header -->
    <h1 class="navbar__title">
        Marcelo Castro
        <span class="navbar__subtitle">Proyecto Freelancer</span>
    </h1><!--Header-->

    <div class="navbar-container"></div>
    <h1>Estoy en sobre mi</h1>

    <script src="/js/components/navbar.js"></script>
</body>
</html>
